* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.reg text eol=crlf

*.lua text eol=lf
*.ps1 text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
